.links{
    font-size: 1.5rem;
    color: var(--red-color);
    float: right;
}

.links .material-icons{
    vertical-align: middle;
}

.links a, .links a:hover{
    text-decoration: none;
    color: var(--red-color);
}

.button-row{
    display: flex;
    flex-direction: row;
}

.sortable{
    display: flex;
    flex-wrap: wrap;
}

.button{
    cursor: pointer;
    display: flex;
    align-items: center;
    color: white;
    width: fit-content;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: normal;
    border-radius: 9px;
    box-shadow: 2px 5px 14px 0px var(--shadow-color);
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.button .material-icons{
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 8px;
}

.button img{
    margin-right: 8px;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}

.button .delete{
    margin-left: 8px;
    margin-right: 0 !important;
}

.button:hover{
    opacity: 0.8;
}

.green{
    background-color: var(--green-color);
}

.blue{
    background-color: var(--blue-color);
}

.red{
    background-color: var(--red-color);
}

.orange{
    background-color: var(--orange-color);
}

.transparent{
    background-color: transparent;
    color: var(--primary-text-color);
}

.transparent:hover{
    background-color: var(--hover-color);
}

.publish, .preview{
    float: right;
}

.planning-board{
    background-color: var(--light-gray-color);
    width: inherit;
    height: 20rem;
    padding: 1rem;
    overflow: scroll;
}

.droppable-area {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.droppable-area div{
    height: fit-content;
}

#preview{
    display: none;
}

#preview .button.shift{
    margin-top: 2rem;
}

#preview .button.people{
    margin-left: 5rem;
}

#preview .button.people + .button.task{
    margin-left: 10rem;
}

#preview .button.task{
    display: inline-flex;
}

#preview .delete {
    display: none;
}